  *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f7fc;
}

/* Navbar */
nav{
    background:#0f172a;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    position:sticky;
    top:0;
}

.logo{
    color:#00d4ff;
    font-size:28px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-size:18px;
    transition:0.3s;
}

.nav-links a:hover{
    color:#00d4ff;
}

/* Hero Section */
header{
    height:90vh;
    background:#0f172a;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

header h1{
    font-size:60px;
}

header span{
    color:#00d4ff;
}

header p{
    font-size:24px;
    margin:15px 0;
}

.btn{
    text-decoration:none;
    background:#00d4ff;
    color:black;
    padding:12px 25px;
    border-radius:8px;
    font-weight:bold;
}

/* Sections */
section{
    max-width:1000px;
    margin:50px auto;
    padding:30px;
}

section h2{
    text-align:center;
    color:#0f172a;
    margin-bottom:30px;
}

/* Cards */
.cards{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    justify-content:center;
}

.card{
    background:white;
    width:250px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    text-align:center;
}

.card:hover{
    transform:translateY(-5px);
}

/* Contact */
#contact{
    text-align:center;
}

/* Responsive */
@media(max-width:768px){

    nav{
        flex-direction:column;
        gap:15px;
    }

    .nav-links{
        flex-direction:column;
        align-items:center;
    }

    header h1{
        font-size:40px;
    }
}#modeBtn{
    padding:8px 12px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

.dark{
    background:#121212;
    color:white;
}

.dark section{
    background:#1e1e1e;
    color:white;
}

.dark .card{
    background:#2d2d2d;
    color:white;
}